<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools"
	package="inc.ahmedmourad.sherlock">
	
	<uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
	<uses-permission android:name="android.permission.INTERNET" />
	
	<!--TODO: Google indexing-->
	<application
		android:name=".application.SherlockApplication"
		android:allowBackup="true"
		android:fullBackupContent="@xml/backup_descriptor"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:roundIcon="@mipmap/ic_launcher_round"
		android:supportsRtl="true"
		android:theme="@style/AppTheme"
		tools:ignore="GoogleAppIndexingWarning">
		<activity android:name=".view.activity.MainActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<meta-data
			android:name="com.google.android.geo.API_KEY"
			android:value="@string/google_places_api_key" />
		<service
			android:name=".services.SherlockService"
			android:exported="false" />
		
		<receiver android:name=".widget.AppWidget">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
			</intent-filter>
			
			<meta-data
				android:name="android.appwidget.provider"
				android:resource="@xml/app_widget_info" />
		</receiver>
		<service
			android:name=".widget.adapter.ChildrenRemoteViewsService"
			android:permission="android.permission.BIND_REMOTEVIEWS" />
	</application>

</manifest>
